.registerTag {
  color: #0366d6;
  text-decoration: underline;
}

.registerTag:hover {
  cursor: pointer;
  color: #0155b5;
}

.pointer:hover {
  cursor: pointer;
}

.listName {
  background-color: #f8f9fa;
}

.listName:hover {
  background-color: #f2f2f2;
}
